.wrapper {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 100px;
    margin: 0 auto;
    padding: 1%;
    gap: 1rem; 
    border: 15px solid var(--background);
}

.box1 {
    display: flex;
    flex: 1; 
    padding: 1%;
    border-radius: 10px;
}

.checkboxes {
    display: flex;
    gap: 10px;
    justify-content: center;
}

:root {
    --text: #080a0c;
    --background: #e3f0fc;
    --background-secondary: #daeeff;
    --primary: #003666;
    --secondary: #8cc0ef;
    --accent: #000000;
}
    body {

        font-family: Arial;
        background-color: var(--background);
        margin: 0;
        padding: 0;
    }

    .logo-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .logo{

        height: 60px;
        display: block;
        margin: 0 auto;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-check {
        margin-bottom: 15px;
    }

    .btn-primary {
        width: 100%;
    }

    p {
        text-align: center;
        margin-top: 15px;
    }
